<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTEGRADOR</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="introducao">
        <h1>VEJA AGORA A ANÁLISE DE TRÁFEGO DA SUA REDE</h1>
    </div>
    <img class="img" src="dados.png" alt="Análise de dados">
    <div>
        <div class="grid-container">
            <a class="text-decor grid-item" href="/cadastrar">Começe Agora!</a>
        </div>
    </div> 
</body>
</html>