<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INTEGRADOR</title>
        <link rel="stylesheet" href="testeRede.css">
        
    </head>
    <body>
    <div class="sidebar" id="sidebar">
        <button class="toggle-button" id="toggle-button">☰</button>
        <div class="menu-item">
            <a class="menu-button" href="/testeRede">Teste de rede</a>
            <a class="menu-button2" href="/perfil">Perfil</a>
            <a class="menu-button3" href="/predict">Predição I.A</a>
        </div>
    </div>

    <div class="cabeca">
        <h1>Análise de tráfego dos seus dados:</h1><br>
    </div>
    <div class="container">

       
        <div class="imagens">

            <img src="PROTOCOLO.png">

            <img src="TEMPO DE RESPOSTA PACOTES.png">

            <img src="Serviços.png">
        </div>
    </div>
        <script src="menuSide.js"></script>
        
    </body>
</html>